.landingSectionFirst {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.landingSectionFirst div {
  font-size: 65px;
}
.textLandingSpecial {
  font-weight: 1000;
  color: #1882da;
}

.aboutMeButton {
  display: inline-block;
  margin: 20px;
  border: 1px solid #1882da;
  text-decoration: none;
  padding: 15px;
  border-radius: 40px;
}
.aboutMeButton:hover {
  background-color: #1882da;
  color: #141414;
}
.aboutMeButton:active {
  transform: translateY(6px);
}
@media screen and (max-width: 833px) {
  .landingSectionFirst div {
    font-size: 45px;
  }
}

@media screen and (max-width: 464px) {
  .landingSectionFirst div {
    font-size: 35px;
  }
}
