:root {
  --background-color: #141414;
  --text-color: #fff;
  --anchor-text-color: #52beff; /* #0081cc */
  --navbar-background: #282828;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
a {
  color: var(--anchor-text-color);
}
.content {
  min-height: 100vh;
}
