.navbar {
  background-color: var(--navbar-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-inline: 10px;
  position: sticky;
  width: 100%;
  top: 0;
}
.navbar a {
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
}
.navbar a:hover {
  background-color: #363636;
}
.logo {
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobileNavbarButton {
  display: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.buttonIcon {
  height: 50px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 30px;
  }
  .mobileNavbarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-background);
    border: none;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    color: var(--text-color);
    border: 1px solid var(--anchor-text-color);
  }
  .navbar {
    text-align: center;
    z-index: 1;
    position: fixed;
    bottom: 0;
    top: -100vh;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  .navbarEnabled {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
